body {
  background-color: #fff;
  font-family: 'Spinnaker', sans-serif;
  margin: 0px;
  padding: 0px;
}

.wallpaper-no-border {
  height: 100%;
  width: 100%;
  margin: 0px;
  padding: 0px;
}

.orange-hr {
  border-top: 3px solid #FA824C;
}

/*** Header ***/

.header {
  background-color: #336B87;
  height: 25vh;
  margin: 0px;
}

.header a {
  text-decoration: none;
}

.header a:hover {
  text-decoration: none;
}

.header-text {
  color: #fff;
  display: inline-block;
  text-align: left;
  margin-left: 2%;
  margin-top: 10vh;
  height: 100%;
  width: auto;
}

.the-best {
  font-family: 'Amatic SC', cursive;
  font-weight: bold;
  font-size: 10vh;
}

@media screen and (max-width: 1030px) {
  .header-img {
    display: none;
  }
}

/*** Footer ***/

.footer {
  background-color: #336B87;
  height: 25vh;
  margin: 0px;
  line-height: 0;
}

.footer-text {
  color: #fff;
  display: inline-block;
  text-align: left;
  margin-left: 40px;
  margin-top: 10vh;
  height: 100%;
  width: auto;
}

.footer a {
  text-decoration: none;
}

.footer a:hover {
  text-decoration: none;
}

.footer-slogan {
  font-weight: bold;
  font-size: 2vh;
  padding: 3vh;
}

@media screen and (max-width: 1030px) {
  .footer-img {
    display: none;
  }
}

/*** About Page ***/

.about-title {
  padding-top: 5%;
  text-align: center;
  height: 100%;
  font-family: 'Spinnaker', sans-serif;
  font-weight: bold;
  font-size: 160%;
  font-weight: bold;
  color:  #FA824C;

}

.about-text {
  text-align: center;
  margin-left: 15%;
  margin-right: 15%;
  margin-bottom: 7%;
  height: 100%;
  font-family: 'Spinnaker', sans-serif;
  color:  #FA824C;
}
