body {
  background-color: #fff;
  font-family: 'Spinnaker', sans-serif;
  margin: 0px;
  padding: 0px;
}

.wallpaper-no-border {
  height: 100%;
  width: 100%;
  margin: 0px;
  padding: 0px;
}

/*** Header ***/

.header {
  background-color: #4D648D;
  height: 25vh;
  margin: 0px;
}

.header a {
  text-decoration: none;
}

.header a:hover {
  text-decoration: none;
}

.header-text {
  color: #fff;
  display: inline-block;
  text-align: left;
  margin-left: 2%;
  margin-top: 10vh;
  height: 100%;
  width: auto;
}

.the-best {
  font-family: 'Amatic SC', cursive;
  font-weight: bold;
  font-size: 6vh;
}

@media screen and (max-width: 1030px) {
  .header-img {
    display: none;
  }
}

/*** Footer ***/

.footer {
  background-color: #4D648D;
  height: 25vh;
  margin: 0px;
  line-height: 0;
}

.footer-text {
  color: #fff;
  display: inline-block;
  text-align: left;
  margin-left: 40px;
  margin-top: 10vh;
  height: 100%;
  width: auto;
}

.footer a {
  text-decoration: none;
}

.footer a:hover {
  text-decoration: none;
}

.footer-slogan {
  font-weight: bold;
  font-size: 2vh;
  padding: 3vh;
}

@media screen and (max-width: 1030px) {
  .footer-img {
    display: none;
  }
}

/*** About Page ***/

.about-title {
  padding-top: 5%;
  text-align: center;
  height: 100%;
  font-family: "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-variant: small-caps;
  font-weight: bold;
  font-size: 160%;
  font-weight: bold;
  color:  #FA824C;

}

.about-text {
  text-align: center;
  margin-left: 15%;
  margin-right: 15%;
  margin-bottom: 7%;
  height: 100%;
  font-family: "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-variant: small-caps;
  font-weight: bold;
  color:  #FA824C;
}

/*** Search Bar ***/

.search-bar-body {
  min-height: 35vh;
  width: 100%;
  margin: 0px;
}

.search-container {
  text-align: center;
  justify-content: center;
}

.search-box-ready {
  padding-top: 25px;
  text-align: center;
}

.search-box-ready input {
  width: 50%;
}

.search-bar-header-ready {
  color: #F98866;
  font-weight: bold;
  padding-top: 5vh;
  text-align: center;
  font-size: 5rem;
}

.search-bar-header {
  color: #F98866;
  font-weight: bold;
  padding-top: 5vh;
  text-align: center;
  font-size: 3rem;
  -webkit-transition: all 500ms;
  -moz-transition: all 500ms;
  transition: all 500ms;
}

.search-box {
  padding-top: 25px;
  text-align: center;
}


.search-box input {
  color: #33C3F0;
  text-align: center;
  height: 15vh;
  width: 40%;
  -webkit-transition: all 500ms;
  -moz-transition: all 500ms;
  transition: all 500ms;
  font-family: 'Spinnaker', sans-serif;
  font-size: 3vh;
}
